body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

address {
    padding-top: .5%;
    

}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.sacramentModel {
    max-width: 500px;
    width: 90%;
    box-shadow: 1px 1px 5px 1px grey;
    background: #fff4e5;
    padding: 50px;
    position:relative;
    margin-top:50px;
}
    /*.sacramentModel > dl > dt, {
        word-break: break-word;
        margin-top: 5px;
    }*/
    .sacramentModel > h2 {
        font-family: 'Courgette', cursive;
        position: absolute;
        top: 0px;
    }
    .sacramentModel hr {
        border-top: 1px solid black;
    }