@model IEnumerable<SacramentMeeting.Models.Sacrament>
@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<h1 style="font-family: 'Courgette', cursive;">Sacrament Meetings</h1>
<img src="~/images/temple1n.jpeg" alt="templee" class="responsive">
@foreach (var program in Model)
{
    @await Html.PartialAsync("SacramentLayout", program)
}
